* { margin:0; padding:0; }
body { background-color:#333; font-family:sans-serif; color:#fff; width:960px; margin: 0 auto;}
h1 { margin:25px; letter-spacing: .1em; }
h2 { margin:25px; }

.lesson { background-color:#666; width:930px; padding:15px;}

/* Lesson 01 */
.l1 .bar { display:inline-block; background-color: #222; width:25px; margin:3px; vertical-align:bottom;}

/* Lesson 02 */
.l2 .bubble { fill:#222; }

/* Lesson 03 */

/* Lesson 04 */
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
