
/* Shared */

* { margin:0; padding:0; }
a { text-decoration:none; color:inherit; }
body {
  background-color:#f9f9f9;
  font-family:'ubuntu', arial, sans-serif;
  font-weight:300;
  color:#999;
  width:960px;
  margin: 0 auto;
}
header {
  margin:75px 0 20px;
  letter-spacing: .2em;
  font-size:1.3em;
  text-transform: uppercase;
}
header .left-head {cursor:pointer;}
header .left-head:hover {color:#f66;}
header .right-head {float:right;}
footer {
  margin:25px;
  text-align: center
}
hr { clear:both; decoration:none; border:none; height:1px; color: #ddd; background-color: #ddd; }

/* Index */

.menu {
  overflow: auto;
  margin:40px 0;
}
.menu-item {
  box-sizing: border-box;
  float:left;
  width:470px;
  margin:5px;
  border:1px solid #ddd;
  border-radius:5px;
  padding:25px;
  background-color: #f2f2f2;
  cursor:pointer;
  transition: background-color 200ms, border 200ms, color 200ms;
}
.menu-item:hover {
  border:1px solid #f66;
  background-color:#f66;
  color:white;
  transition: background-color 200ms, border 200ms, color 200ms;
}

/* Chapters */

h2 { margin:40px 15px 5px 15px;  font-size:.8em; font-weight:300; letter-spacing:.06em;}
.figure { width:900px; margin-bottom:40px; padding:30px; border:1px solid #ddd; border-radius:5px;}

/* Chapter 1 */
.fig1-1 .bar { display:inline-block; background-color: #f66; width:26px; margin:2px; vertical-align:bottom;}
.fig1-2 .bubble { fill:#f66; }
.fig1-3 .bar { fill: #f66; }

.fig1-4 .bubble { fill: #f66; }
.fig1-4 .axis path, .axis line { fill: none; stroke: #ddd; shape-rendering: crispEdges; }
.fig1-4 .axis text { stroke: #ddd; font-size: .6em; }

/* Chapter 2 */
.fig2-1 .bubble { mix-blend-mode:multiply; }

/* Chapter 3 */
.fig3-1, .fig3-2 { background-color: #999; color: #f9f9f9; }
.fig3-1 p, .fig3-2 p{ font-size:.8em; vertical-align: bottom; float:right; }

.fig3-1 .cell, .fig3-2 .cell { fill: #f9f9f9; }

/* Chapter 4 */
.fig4-1 div p {
  margin:5px;
  padding:12px;
  color:white;
  display:inline-block;
  cursor:pointer;
}
.fig4-1 .line { fill:none; stroke-width:3px; }
.fig4-1 .axis path, .fig4-1 .axis line { fill: none; stroke: #999; shape-rendering: crispEdges; }
.fig4-1 .axis text { stroke: #999; font-size: .6em; }

/* Figure 5-1 */
.fig5-1 .particle { fill:none; stroke:steelblue; }
.fig5-2 .particle { fill:steelblue; stroke:none; }
.fig5-2 .particle { fill:steelblue: stroke:none; }

/* Chapter 6 */
.fig6-1 .particle { stroke:none; fill:#999; }
.fig6-1 .start { stroke:red; fill:none; }

.fig6-2 .particle { stroke:none; fill:#999; }
.fig6-2 .start { stroke:red; fill:none; }
.fig6-2 .bar { stroke:none; }

.fig6-3 .particle.alive { fill:#999; }
.fig6-3 .particle.dead { fill:red; }
.fig6-3 .particle.done { fill:green; }
.fig6-3 .start { stroke:#ddd; fill:none; }
.fig6-3 .obstacle { stroke:#ddd; fill:none; }
.fig6-3 .finish { stroke:green; fill:none; }

/* Chapter 7 */
.fig7-1 .point { fill:#999; stroke:none; }
.fig7-1 .line { fill:none; stroke:#999; }
