
/* Shared */

* { margin:0; padding:0; }
a { text-decoration:none; color:inherit; }
body {
  background-color:#f9f9f9;
  font-family:'ubuntu', arial, sans-serif;
  font-weight:300;
  color:#999;
  width:960px;
  margin: 0 auto;
}
header {
  margin:75px 0 20px;
  letter-spacing: .2em;
  font-size:1.3em;
  text-transform: uppercase;
}
header .left-head {cursor:pointer;}
header .left-head:hover {color:#f66;}
header .right-head {float:right;}
footer {
  margin:25px;
  text-align: center
}
hr { clear:both; decoration:none; border:none; height:1px; color: #ddd; background-color: #ddd; }

/* Index */

.menu {
  overflow: auto;
  margin:40px 0;
}
.menu-item {
  box-sizing: border-box;
  float:left;
  width:470px;
  margin:5px;
  border:1px solid #ddd;
  border-radius:5px;
  padding:25px;
  background-color: #f2f2f2;
  cursor:pointer;
  transition: background-color 200ms, border 200ms, color 200ms;
}
.menu-item:hover {
  border:1px solid #f66;
  background-color:#f66;
  color:white;
  transition: background-color 200ms, border 200ms, color 200ms;
}

/* Chapters */

h2 { margin:40px 15px 5px 15px;  font-size:.8em; font-weight:300; letter-spacing:.06em;}
.figure { width:900px; margin-bottom:40px; padding:30px; border:1px solid #ddd; border-radius:5px;}

/* Lesson 01 */
.fig1-1 .bar { display:inline-block; background-color: #f66; width:26px; margin:2px; vertical-align:bottom;}

/* Lesson 02 */
.fig1-2 .bubble { fill:#f66; }

/* Lesson 03 */
.fig1-3 .bar { fill: #f66; }

/* Lesson 04 */
.fig1-4 .bubble { fill: #f66; }
.axis path,
.axis line {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}
.axis text { stroke: #ddd; font-size: .6em; }

/* Lesson 05 */
.fig2-1 .bubble { mix-blend-mode:multiply; }

/* Lesson 06 */
.fig3-1 {
  background-color: #999;
  color: #f9f9f9;
}

.fig3-1 p{
  font-size:.8em;
  vertical-align: bottom;
  float:right;
}

.fig3-1 .cell {
  fill: #f9f9f9;
}

/* Lesosn 07 */
.fig4-1 div p{
  margin:2px;
  padding:5px;
  color:white;
  display:inline-block;
  cursor:pointer;
}
